<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLnqAS8NOvS4zh-3tOfmYiaDhsItf9yzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>534076643636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myanmarEducational</string>
	<key>PROJECT_ID</key>
	<string>myanmar-educational</string>
	<key>STORAGE_BUCKET</key>
	<string>myanmar-educational.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534076643636:ios:2b32eb4fd481b398212d61</string>
</dict>
</plist>